/* Các thuộc tính chung */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

/* Định nghĩa màu sắc */
:root {
    --primaryColor: rgb(166, 43, 47);
    --secondaryColor: rgb(244, 239, 235);
    --darkColor: black;
    --lightColor: white;
    --dangerColor: red;
}
.input{

}

/* Form đăng nhập */
.user-form {
    width: 100%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    max-width: 600px;
}

/* Tiêu đề form */
.user-form h1 {
    text-align: center;
    color: var(--primaryColor);
    margin-bottom: 20px;

}

/* Trường nhập liệu */
.input {
    width: 100%;
    padding: 12px 0; 
    margin-bottom: 10px; /* Khoảng cách giữa các trường nhập */
    border: 1px solid #ccc;
    border-radius: 7px; /* Bo tròn góc */
    font-size: 1rem;
}

.input:focus {
    border-color: var(--primaryColor); /* Đổi màu viền khi focus vào */
    outline: none;
}

/* Nút LOGIN */
.button {
    width: 100%;
    padding: 12px;
    margin-bottom: 1rem;
    background-color: var(--primaryColor); /* Màu nền nút */
    color: var(--lightColor);
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: rgb(145, 6, 6) /* Đổi màu khi hover */
}

/* Thông báo lỗi */
.error-message {
    text-align: center;
}


.user-form a {
    color: var(--primaryColor);
    text-decoration: underline;
}

/* Các media query cho mobile */
@media (max-width: 768px) {
    .user-form {
        padding: 1.5rem;
        width: 90%;
    }

    .input, .button {
        padding: 10px; /* Giảm padding cho các trường và nút trên màn hình nhỏ */
    }
}
.benefits-container {
    display: flex; /* Sử dụng flexbox để sắp xếp các phần tử theo hàng ngang */
    justify-content: space-between; /* Khoảng cách đều giữa các phần tử */
    align-items: center; /* Căn chỉnh các phần tử theo chiều dọc */
    background-color: #f7f7f7; /* Màu nền cho container */
    padding: 20px; /* Khoảng cách bên trong container */
    border-radius: 10px; /* Bo tròn góc */
    margin-top: 20px; /* Khoảng cách từ phần trên */
}

.benefit {
    display: flex; /* Sử dụng flexbox để căn chỉnh nội dung trong mỗi phần tử */
    flex-direction: row; /* Đặt các icon và text theo hàng ngang */
    align-items: center; /* Căn giữa icon và text theo chiều dọc */
    text-align: left; /* Căn trái cho văn bản */
    padding: 10px; /* Khoảng cách bên trong từng benefit */
    background-color: #f7f7f7; 
    border-radius: 5px; /* Bo tròn các góc của từng benefit */
    flex: 1; /* Để các phần tử có thể co dãn đều */
    margin: 0 10px; /* Khoảng cách giữa các benefit */
}

.benefit i {
    font-size: 24px; /* Kích thước icon */
    margin-right: 10px; /* Khoảng cách giữa icon và văn bản */
}

.benefit p {
    font-size: 14px; /* Kích thước chữ */
    color: #333; /* Màu chữ */
}

