* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --primaryColor: rgb(166, 43, 47);
    --secondaryColor: rgb(244, 239, 235);
    --darkColor: black;
    --lightColor: white;
    --dangerColor: red;
}

a {
    color: var(--darkColor);
}

ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

li a:hover,
li a.active {
    text-decoration: underline;
    color: var(--primaryColor);
}

main {
    width: 90vw;
    min-height: 90vh;
    margin: 1rem auto;
    padding: 0 1rem;
}

.center {
    text-align: center;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
}

.user-form {
    width: 25rem;
    margin: 2rem auto;
    padding: 1rem;
    background-color: antiquewhite;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

input {
    width: 100%;
    line-height: 2rem;
    margin-bottom: 10px;
}

.danger {
    background-color: var(--dangerColor);
    color: var(--lightColor);
    border-radius: 5px;
    padding: 3px;
}
/* button { */
/* padding: 5px 10px; */
/* } */

section {
    min-height: 30vh;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 5px;
}

th,
td {
    border: 1px solid black;
    line-height: 2rem;
}

.items-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.item-card {
    background-color: var(--secondaryColor);
    width: 20rem;
    height: 25rem;
}

.item-image {
    width: 90%;
    height: 90%;
}
/* TOP-NAV STARTS */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1264px;
    width: 100%;
    margin: 0 auto;
}

.top-nav svg {
    font-size: 1.8rem;
    margin: 0 5px;
}

.top-nav svg:hover {
    color: var(--primaryColor);
    cursor: pointer;
}

.logo {
    width: 10rem;
    height: auto;
}

.row {
    display: flex;
    align-items: center;
}

.menu-icon {
    margin: 3px;
    border-radius: 5px;
}
.menu-icon:hover {
    background-color: antiquewhite;
}

.search-bar input {
    margin: 0;
}
.search-button {
    background-color: antiquewhite;
    padding: 4px;
    border-radius: 5px;
    margin: 5px;
}
/* TOP-NAV ENDS */

/* BOTTOM-NAV STARTS */
.bottom-nav {
    width: 60vw;
    margin: 0 auto;
}
/* BOTTOM-NAV ENDS */

/* SIDEBAR STARTS */
#mySideBar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 0;
    position: fixed;
    background-color: var(--lightColor);
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    font-size: larger;
}

.row-space-between {
    display: flex;
    justify-content: space-between;
}

.sidebar-header {
    background-color: var(--primaryColor);
    color: var(--lightColor);
    padding: 2rem;
}

.sidebar-body,
.sidebar-footer {
    padding: 2rem;
}

.sidebar-header p,
.sidebar-body p {
    padding: 10px 0;
}

.sidebar-header p:hover,
.sidebar-body p:hover {
    opacity: 0.7;
}

.sidebar-header a {
    color: var(--lightColor);
}

.sidebar-body p {
    border-bottom: 1px solid black;
}

.sidebar-body a:hover {
    color: var(--primaryColor);
}
/* SIDEBAR ENDS */

/* ERROR-MESSAGE STARTS */
.error-message {
    color: var(--dangerColor);
}
/* ERROR-MESSAGE ENDS */

/* tabs-container START */
.tabs-container {
    display: flex;
    max-width: 20rem;
    margin: 0 auto;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
/* tabs-container START */

.flex-container-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CART STARTS */
#cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#order-summary {
    background-color: var(--secondaryColor);
    padding: 1.5rem;
    border-radius: 5px;
}

#order-summary p {
    line-height: 2rem;
}

#order-summary button {
    width: 100%;
    background-color: var(--primaryColor);
    color: var(--lightColor);
    border: none;
    border-radius: 5px;
    margin: 1rem 0;
    padding: 0.5rem;
    cursor: pointer;
}
/* CART ENDS */

/* MOBILE */
@media screen and (max-width: 1023px) {
    main,
    .top-nav {
        width: 100vw;
    }

    .search-bar,
    .bottom-nav {
        display: none;
    }
    #cart {
        flex-direction: column;
    }
}

/* LOGIN START*/
.login-form-container {
    background-color: white;
    max-width: 30rem;
    margin: 0 auto;
}

.login-form-container h1 {
    text-align: center;
}

.login-form-error-message {
    color: red;
}

/* LOGIN END*/
