header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

header ul {
  display: flex;
  gap: 1rem;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: var(--color-primary-400);
}

li a:hover,
li a.active {
  color: var(--color-primary-800);
  text-decoration: underline;
}

main {
  margin: 2rem auto;
  text-align: center;
}


/* Footer */

footer {
  text-align: center;
}