.commitments-container {
    padding: 20px;
    text-align: center;
}

.commitments-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 20px 0;
}

.disclaimer {
    margin-top: 20px;
    font-size: 0.9rem;
    color: gray;
}
