.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 24px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    position: relative;
}

.modal-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Slideshow styles */
.image-slideshow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev-button,
.next-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev-button {
    left: -2rem;
}

.next-button {
    right: -2rem;
}

.prev-button:disabled,
.next-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.addtocart {
    background-color: #e60023;
    color: white; /* Màu chữ trên nút là trắng */
    border: none; /* Loại bỏ viền của nút */
    border-radius: 5px; /* Làm tròn các góc của nút */
    padding: 10px 15px; /* Tạo khoảng đệm bên trong nút để nội dung không sát cạnh */
    cursor: pointer; /* Con trỏ chuột chuyển thành dạng pointer khi hover qua nút */
    font-size: 14px; /* Kích thước chữ trên nút là 14px */
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu nền của nút khi hover */
}
.addtocart:hover {
    background-color: #cc0020; /* Đổi màu nền nút thành đỏ sậm hơn khi hover */
}
