.banner {
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}

.banner-image {
    width: 100%;
    height: auto;
}

.banner-content {
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
}

.banner-content h2 {
    font-size: 2rem;
    font-weight: bold;
}

.banner-content p {
    font-size: 1.2em;
}

.discover-button {
    background-color: #d71a63;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}

.discover-button:hover {
    background-color: #bf1653;
}
