.payment-methods {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    max-width: 600px;
    margin: 0 auto;
}

.payment-methods img {
    height: 28px; /* Chiều cao cố định của biểu tượng */
    width: auto;
    margin: 0 15px; /* Khoảng cách giữa các biểu tượng */
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.payment-methods img:hover {
    filter: grayscale(0%);
}
